{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}

    <div class="profileTitle">
    <h2>Edit Profile</h2>
    </div>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="buttonCenter">
    <a class="profileButton" style="text-align: center" href="{{ path('profile') }}">back to profile</a>
    </div>

{#    {{ include('quack/_delete_form.html.twig') }}#}
{% endblock %}
