{% extends 'base.html.twig' %}

{% block title %}New Quack{% endblock %}

{% block body %}
    <div class="profileTitle">
        <h1>Create new Quack</h1>
    </div>


    {{ include('quack/_form.html.twig') }}

    <div class="buttonCenter" style="margin-top: 50px">
        <a class="profileButton" href="{{ path('quack_index') }}">back to list</a>
    </div>

{% endblock %}
